# Python
__pycache__/
*.py[cod]
*.egg-info/
backend/venv/
backend/models/face_encodings.pkl
backend/data/enrolled_faces/*
backend/data/sessions/*
!backend/data/enrolled_faces/.gitkeep
!backend/data/sessions/.gitkeep
*.pkl

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Env
.env
.env.local
